.link {
  color: white;
  text-decoration: none;
}

.link:hover{
  color: white;
  text-decoration: none;
}

.desc {
  margin: 30px auto;
  color: white;
  text-decoration: underline;
  text-align: center;
}

.h1Container {
  margin: 60px auto;
  color: white;
  text-align: center;
}

.card-title {
 font-weight: Bold;
 font-size: 35px;
 text-transform: uppercase;
}

.link-btn {
  margin: 30px auto auto auto
}